div.container{
    width: 800px;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    border: 3px solid black;
    margin: 0 auto;
   
}

article{
    width: calc(100% / 10 - 4px);
    height: calc(100% / 10 - 4px);
    border: 2px solid black;
    text-align: center;
    line-height: calc(800px / 10 - 4px);
    color:white;
}

.active{
    background-color: aqua;
    color: black;
}